@import url(https://seetee.github.io/bp/reset/main.css);
@import "https://unpkg.com/open-props";

:root {
  --eigengrau: oklch(20.35% 0.014 285.1);
  --cosmic-latte: oklch(98% 0.023546573553369917 88.23207270313121);
  --viva-magenta: oklch(52.25% 0.183 13.72);
  --peach-fuzz: oklch(72.18% 0.161 37.73);
}

html {
  --s: 42px; /* control the size */
  --c: #343434; /* first color */
  
  --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
  background: 
    linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
    linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
    #333; /* second color */
  background-size: var(--s) var(--s);
  color: var(--cosmic-latte);
}

section {
  margin-block-end: 10vh;
}

section:nth-of-type(2) li {
  background: var(--viva-magenta);
/*  display: none; */
}

section:nth-of-type(3) {
  background: var(--peach-fuzz);
  display: none;
}

body {
  display: grid;
}

main {
  place-self: center;
  max-width: 90vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4em;
}

li {
  list-style: none;
  overflow: hidden;
  background: var(--eigengrau);
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-conditional-3);
  box-shadow: var(--shadow-1);  
    &:hover {
      box-shadow: var(--shadow-3);
    }
}

figcaption {
  background: #33333333;
  display: none;
}

h1 {
  display: none;
}

img, svg {
  max-width: 100%;
}
